includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - .
    excludePaths:
        - bootstrap/cache
        - public/
        - storage/
        - tests/
        - vendor/
        - _ide_helper.php
    level: max
    stubFiles:
        - phpstan/Builder.stub
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'LogicException'
            - 'RuntimeException'
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    ignoreErrors:
        -
            message: '#Class App\\Http\\Dtos\\.+ has an uninitialized readonly property \$\w+. Assign it in the constructor.#'
            identifier: property.uninitializedReadonly
            paths:
                - app/Http/Dtos/*

